.task-text{
    text-align: center;
    text-decoration: underline;
}

.filter-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 1rem auto;
}



input, select {
  padding: 0.5rem;
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.5rem 0;
}
