.task-text{
    text-align: center;
    text-decoration: underline;
}

.filter-container {
  width: 300px;
  margin: 20px auto;
  text-align: left;
}

.filter-container h2 {
  text-align: center;
  text-decoration: underline;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}
